.botao {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: inherit;/* vai herdar do body */
  font-weight: 700;
  color: var(--branco);
  background-color: var(--amarelo);
  box-shadow: 10px 10px 30px var(--cinza);
  border: none;

}
.botao--alternativo {
  color: var(--amarelo);
  background-color: unset;
  box-shadow: none;
  border: 1px solid var(--amarelo)
}

